/* Global
---------------------------------------------------------------------- */

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --Green-500: hsl(171, 66%, 44%);
    --Blue-100: hsl(233, 100%, 69%);

    --Gray-700: hsl(210, 10%, 33%);
    --Gray-500: hsl(201, 11%, 66%);
}

body {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1.125rem;
    text-align: center;
}

h1,
h2,
h3 {
    color: var(--Gray-700);
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 0.6rem;
}

p {
    color: var(--Gray-500);
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 200px;
}

.button {
    border-radius: 30px;
    padding: 12px;
    color: white;
    box-shadow: 1px 1px 3px black;
    font-size: 1rem;
}

.button:hover {
    cursor: pointer;
    filter: brightness(1.05);
    box-shadow: 3px 3px 5px black;
}

.button-one {
    background-color: var(--Green-500);
}

.button-two {
    background-color: var(--Blue-100);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem 0.75rem;
    width: 100%;
}

.buttons>* {
    width: 100%;
    max-width: 300px;
}

.section {
    padding: 20px;
}

/* Main header
---------------------------------------------------------------------- */

.main-header {
    margin-bottom: 8rem;
}

.main-header .logo-card {
    padding: 70px 0 20px;
    width: 100%;
    background-image: url("../images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header .logo {
    width: 100px;
}

.main-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header p {
    margin: 1rem 0 3rem;
}

/* Keep track section 
---------------------------------------------------------------------- */

.keep-track-section {
    margin-bottom: 12rem;
}

.keep-track-section img {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 3rem;
    max-width: 500px;
}


.keep-track-section ul {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/* Access clipboard section
---------------------------------------------------------------------- */

.access-clipboard-section {
    margin-bottom: 5rem;
}

.access-clipboard-section img {
    margin-top: 3rem;
    width: 100%;
    max-width: 500px;
}

/* Supercharge your workflow section
---------------------------------------------------------------------- */

.supercharge-your-workflow-section ul {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 6rem;
}

.supercharge-your-workflow-section section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.supercharge-your-workflow-section img {
    order: -1;
    width: 50px;
    margin-bottom: 2rem;
}