/* Global
---------------------------------------------------------------------- */

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --Green-500: hsl(171, 66%, 44%);
    --Blue-100: hsl(233, 100%, 69%);

    --Gray-700: hsl(210, 10%, 33%);
    --Gray-500: hsl(201, 11%, 66%);
}

body {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1.125rem;
    text-align: center;
}

h1,
h2,
h3 {
    color: var(--Gray-700);
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    color: var(--Gray-500);
    line-height: 1.5;
}

a {
    text-decoration: none;
}

img {
    width: 200px;
}

.button {
    border-radius: 30px;
    padding: 12px;
    color: white;
    box-shadow: 1px 1px 3px black;
    font-size: 1rem;
}

.button:hover {
    cursor: pointer;
    filter: brightness(1.05);
    box-shadow: 3px 3px 5px black;
}

.button-one {
    background-color: var(--Green-500);
}

.button-two {
    background-color: var(--Blue-100);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 10px;
    width: 100%;
}

.buttons > * {
    width:250px;
}


/* Main header
---------------------------------------------------------------------- */

.main-header {
    margin-bottom: 100px;
}

.main-header .logo-card {
    padding: 70px 0 20px;
    width: 100%;
    background-image: url("../images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header .logo {
    width: 100px;
}

.main-header-content {
    padding: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.main-header p {
    margin: 15px 0 30px;
}