/* Global
---------------------------------------------------------------------- */

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --Green-500: hsl(171, 66%, 44%);
    --Blue-100: hsl(233, 100%, 69%);

    --Gray-700: hsl(210, 10%, 33%);
    --Gray-500: hsl(201, 11%, 66%);
}

body {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1.125rem;
    text-align: center;
}

h1,
h2,
h3 {
    color: var(--Gray-700);
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 0.6rem;
}

p {
    color: var(--Gray-500);
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.button {
    border-radius: 30px;
    padding: 12px;
    color: white;
    box-shadow: 1px 1px 3px black;
    font-size: 1rem;
}

.button:hover {
    cursor: pointer;
    filter: brightness(1.05);
    box-shadow: 3px 3px 5px black;
}

.button-one {
    background-color: var(--Green-500);
}

.button-two {
    background-color: var(--Blue-100);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem 0.75rem;
    width: 100%;
}

.buttons>* {
    width: 100%;
    max-width: 250px;
}

.section {
    padding: 20px;
}

.section>p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* Main header
---------------------------------------------------------------------- */

.main-header {
    margin-bottom: 8rem;
}

.main-header .logo-card {
    padding: 70px 0 20px;
    width: 100%;
    background-image: url("../images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header .logo {
    width: 100px;
}

.main-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header p {
    margin: 1rem 0 3rem;
}

/* Keep track section 
---------------------------------------------------------------------- */

.keep-track-section img {
    width: 100%;
    max-width: 600px;
    align-self: center;
}

.keep-track-section ul {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 5rem;
    margin-bottom: 12rem;
}

.keep-track-section ul p {
    max-width: 500px;
}

.keep-track-section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 1rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

/* Access clipboard section
---------------------------------------------------------------------- */

.access-clipboard-section {
    margin-bottom: 5rem;
}

.access-clipboard-section img {
    margin-top: 3rem;
    width: 100%;
    max-width: 500px;
}

/* Supercharge your workflow section
---------------------------------------------------------------------- */

.supercharge-your-workflow-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem 1rem;
    margin-top: 6rem;
}

.supercharge-your-workflow-section li {
    max-width: 400px;
}

.supercharge-your-workflow-section section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.supercharge-your-workflow-section .img-wrapper {
    width: 50px;
    height: 50px;
    order: -1;
    margin-bottom: 2rem;
}

.supercharge-your-workflow-section img {
    width: 100%;
}

/* Partners section
---------------------------------------------------------------------- */

.partners-section {
    margin: 8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 0 25px
}

.partners-section img {
    width: 125px;
}

/* Clipboard for ios section
---------------------------------------------------------------------- */

.clipboard-for-ios-section {
    margin-bottom: 10rem;
}

.clipboard-for-ios-section p {
    margin-bottom: 3rem;
}

/* Footer
---------------------------------------------------------------------- */

footer {
    background-color: hsl(0 0% 97%);
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

footer nav {
    display: contents;
}

footer .logo {
    width: 50px;
}

.vertical-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.vertical-links a {
    color: var(--Gray-700);
}

.vertical-links a:hover {
    color: var(--Green-500);
}

.logo-links {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}

.logo-links img {
    width: 30px;
}

@media screen and (min-width: 800px) {
    .main-header .logo-card{
        background-image: url("../images/bg-header-desktop.png");
    }

    .keep-track-section .content {
        flex-direction: row;
        text-align: left;
        column-gap: 5rem;
        align-items: flex-start;
    }
}